<%- model_class = LegoSet -%>
<div class="container">
  <div class="page-header">
    <h1>Sets</h1>
  </div>

  <% @lego_sets.each do |lego_set| %>
  
  <div class="panel panel-default col-lg-5" style="margin-right: 20px">
    <div class="panel-body" style="min-height: 225px">
      <div class="col-lg-5">
        <!-- <img src="http://placehold.it/225x225"> -->

        <a href="/lego_sets/<%= lego_set.id %>">
          <%= image_tag lego_set.set_img, :style => 'max-width: 225px; max-height: 195px; ' %>
        </a>

      </div>
      <div class="col-lg-5 col-lg-offset-2">
        <a href="/lego_sets/<%= lego_set.id %>">
          <h3 style="margin-top: 10px"><%= lego_set.name %></h3>
        </a>
        <span style="color: #999"><%= link_to lego_set.set, lego_set.link.to_s, :target => '_blank' %></span>
      </div>
    </div>
  </div>
  
  <% end %>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
new_lego_set_path,
:class => 'btn btn-primary' %>

